<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find mavros)/launch/px4.launch">
	</include>
	
	<include file="$(find apriltag_errcalc)/launch/apriltag_errcalc_ros.launch">
	</include>

	<!--include file="$(find ros_rtsp)/launch/rtsp_streams.launch">
	</include-->

	<!-- Our node to control the drone -->
	<node pkg="offboard_py" type="offb_node_limpose.py" name="offb_node_py" required="true" output="screen" />
</launch>

